{{ define "about" }}

<!-- ====== content clock start ====== -->




<!-- ====== Banner Start ====== -->
<section id="inner-banner" class="index-3">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="inner-heading">
                <h2>About Us</h2>
                <div class="separator left-align">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/l" title="Home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ====== Banner End ====== -->

<!-- ====== About Us Start ====== -->
<section id="about-us" class="index-3">
    <div class="container">
        <h2 class="d-none">Heading</h2>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row row-safari">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img class="img_sec"
                        src="/static/img/about_us_2.jpg" alt="About" /> </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
                    <div class="about-heading">Providing best business solution for growing your business</div>
                    <p>
                        NelsonelTech Solutions is a Kenyan IT company established in 2022, providing various
                        cutting-edge
                        IT services, such as software development, web development, mobile app development, cloud
                        computing,
                        data analytics, and graphical design.
                    </p>
                    <p>
                        Their team of experts develops customized solutions that
                        cater to clients' unique needs, emphasizing collaboration and communication throughout the
                        project
                        lifecycle. Their quality and innovative approach have earned them a reputation as a trusted IT
                        partner in the industry, serving a diverse range of clients, from small startups to large
                        multinational corporations.
                    </p>

                </div>
            </div>
        </div>
</section>
<!-- ====== About Us End ====== -->

<!-- ====== Qualities Start ====== -->
<section id="qualities" class="index-3">
    <div class="container">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="content">

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
                    <div class="icon"><i class="flat flaticon-reward"></i></div>
                    <div class="heading">
                        <h5>We are Professional</h5>
                    </div>
                    <div class="description">
                        <p>We are highly skilled, experienced professionals dedicated to delivering quality solutions to
                            our clients.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
                    <div class="icon"><i class="flat flaticon-certificate"></i></div>
                    <div class="heading">
                        <h5>Licensed and Certified</h5>
                    </div>
                    <div class="description">
                        <p>We have official authorization and recognized credentials to provide professional services,
                            attested by certifications.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
                    <div class="icon"><i class="flat flaticon-enterprise"></i></div>
                    <div class="heading">
                        <h5>Number 1 Company</h5>
                    </div>
                    <div class="description">
                        <p>We are the leading company in our industry, providing exceptional services and setting the
                            standard for others.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
                    <div class="icon"><i class="flat flaticon-working-team"></i></div>
                    <div class="heading">
                        <h5>Leading Provider</h5>
                    </div>
                    <div class="description">
                        <p>We are a leading provider of innovative and effective software and IT solutions in Nairobi,
                            Kenya. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ====== Qualities End ====== -->

<!-- ====== About Details Start ====== -->
<section id="about-detail" class="index-3">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mid-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="img-area">
                        <img src="../static/img/why-choose-us.jpg" alt="Why Choose Us" />
                    </div>
                    <div class="section_heading">
                        <h4>Why <span>Choose Us?</span></h4>
                        <div class="separator left-align ">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="description">
                        <p>
                            Choose NelsonelTech Solutions for our commitment to providing innovative and customized IT
                            solutions,
                            our team of skilled professionals with years of experience, our collaborative approach, and
                            our reputation
                            as a trusted partner in the industry.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="img-area">
                        <img src="../static/img/our-mission.jpg" alt="Our Mission" />
                    </div>
                    <div class="section_heading">
                        <h4>Our <span>Mission</span></h4>
                        <div class="separator left-align ">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="description">
                        <p>
                            NelsonelTech Solutions aims to offer innovative and customized IT solutions to organizations
                            in Kenya and beyond,
                            to keep them competitive in today's fast-paced digital world, leveraging the latest
                            technologies and trends.
                        </p>
                    </div>
                </div>



                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="img-area">
                        <img src="../static/img/our-vision.jpg" alt="Our Mission" />
                    </div>
                    <div class="section_heading">
                        <h4>Our <span>Vision</span></h4>
                        <div class="separator left-align ">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="description">
                        <p>
                            NelsonelTech Solutions aims to assist businesses and organizations to achieve their
                            objectives in the fast-paced
                            digital landscape by providing innovative and high-quality IT solutions. They aspire to be a
                            reliable partner in
                            the IT industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== About Details End ====== -->

<!-- ====== Team Start ====== -->
<section id="our_team" class="gray-bg">
    <div class="container">
        <div class="section_heading">
            <h2>Our <span>Team</span></h2>
            <div class="separator">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="heading_content">
                Welcome to the Team Page of NelsonelTech Solution, where we introduce you to the brilliant minds behind
                our innovative software solutions.
                Our team is composed of dedicated professionals who are passionate about technology and committed to
                delivering exceptional results. With diverse skills and expertise,
                we work together harmoniously to create cutting-edge software products that meet the evolving needs of
                our clients.
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-xs-12  content_sec">
            <div class="team-slider owl-two owl-carousel owl-theme">


                <!-- Check if team member is active -->
                <div class="item team-card">
                    <div class="client_dp"> <img src="/static/media/static/teams/nelson.png" alt="Team" /> </div>
                    <div class="name_designation">
                        <h5><a href="#">Nelson Mokoro</a></h5>
                        <span>Software Engineer</span>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                    <div class="social_links">
                        <ul>
                            <li><a href="javascript:void(0)" title="Facebook"><i
                                        class="flat flaticon-facebook-logo"></i></a></li>
                            <li><a href="javascript:void(0)" title="Twitter"><i class="flat flaticon-twitter"></i></a>
                            </li>
                            <li><a href="javascript:void(0)" title="Google"><i
                                        class="flat flaticon-google-plus-logo"></i></a></li>
                            <li><a href="javascript:void(0)" title="Linkedin"><i
                                        class="flat flaticon-linkedin-logo"></i></a></li>
                            <li><a href="javascript:void(0)" title="Instagram"><i
                                        class="flat flaticon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>









            </div>
        </div>

    </div>
    <div class="clearfix"></div>
</section>
<!-- ====== Team End ====== -->

<!-- ====== Counter Start ====== -->
<section id="counter" class="counter-inner">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-happiness"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">200</span>+</h2>
                        <div class="title">Happy Client</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-coffee-cup"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">750</span>+</h2>
                        <div class="title">Cups of Coffee</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-like"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">1800</span>+</h2>
                        <div class="title">Projects Done</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-building"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">15</span></h2>
                        <div class="title">Office Locations</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<div class="p-4"></div>
<!-- ====== Counter End ====== -->

</div>





<!-- ====== content block ends ====== -->

{{ end }}