{{ define "blogs" }}

<!-- ====== content clock start ====== -->





<!-- ====== Banner Start ====== -->
<section id="inner-banner">
    <div class="container">
        <div class="row">
            <div class="inner-heading">
                <h2>Blog Right Sidebar</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ====== Banner End ====== -->

<!-- ====== Blog Posts Start ====== -->
<section id="blog-post-list">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row blog-isotope">


                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card_mr_bt blog-iso-item">
                    <div class="item blog_card">
                        <div class="post-img"> <img src="/static/media/static/blog/blog-post-2_kHtrd1P.jpg" alt="Post" />
                            <div class="posted_on"> <span class="date">7</span> <span class="month">Apr</span> </div>
                        </div>
                        <div class="post-detail">
                            <h5><a href="/static/blog-detail/custom-software-development/index.html">Custom software
                                    development</a></h5>
                            <div class="post-status">
                                <ul>
                                    <li><i class="flat flaticon-folder"></i>
                                        <span>
                                            <a href="javascript:void(0)">nelsonel</a>
                                        </span>
                                    </li>
                                    <li><i class="flat flaticon-chat"></i> <span>20</span></li>
                                </ul>
                            </div>
                            <div class="description">
                                <p>

                                    Custom software development is the process of designing, developing, and deploying
                                    software applications tailored to meet specific business requirements. With the
                                    increasing demand for digital …

                                </p>
                                <a href="/static/blog-detail/custom-software-development/index.html" title="View More">View
                                    More</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>


            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1"><i
                            class="flat flaticon-back"></i></a> </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"> <a class="page-link" href="#"><i class="flat flaticon-arrow"></i></a> </li>
            </ul>
        </nav>
    </div>
</section>
<!-- ====== Blog Posts End ====== -->

<!-- ====== Counter Start ====== -->
<section id="counter">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-happiness"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">200</span>+</h2>
                        <div class="title">Happy Client</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-coffee-cup"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">750</span>+</h2>
                        <div class="title">Cups of Coffee</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-like"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">1800</span>+</h2>
                        <div class="title">Projects Done</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-building"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">15</span></h2>
                        <div class="title">Office Locations</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- ====== Counter End ====== -->
<section class="mt-2">
    <div class="container">

    </div>
</section>




<!-- ====== content block ends ====== -->

{{ end }}