{{ define "contact" }}

<!-- ====== content clock start ====== -->





<!-- ====== Banner Start ====== -->
<section id="inner-banner">
    <div class="container">
        <div class="row">
            <div class="inner-heading">
                <h2>Contact Us</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ====== Banner End ====== -->


<!-- ====== Contact Detail Start ====== -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <h3>Contact Info</h3>
                        <div class="separator left-align ">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="info">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="flat flaticon-phone-receiver"></i>
                                    </div>
                                    <div class="content">
                                        <div class="label">Phone No.</div>
                                        <div class="value">
                                            <a href="tel:+254710953194">+254 710 953194</a><br>
                                            <!--<a href="tel:+254798616085">+254 798 616085</a>-->
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="icon">
                                        <i class="flat flaticon-mail-black-envelope-symbol"></i>
                                    </div>
                                    <div class="content">
                                        <div class="label">Email Id</div>
                                        <div class="value">
                                            <a href="mailto:admin@nelsoneltech.co.ke">admin@nelsoneltech.co.ke</a>
                                            <a href="mailto:a@nelsoneltech.co.ke">info@nelsoneltech.co.ke</a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="icon">
                                        <i class="flat flaticon-facebook-placeholder-for-locate-places-on-maps"></i>
                                    </div>
                                    <div class="content">
                                        <div class="label">Address</div>
                                        <div class="value">Nairobi, Kenya</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-header text-center">
                            <h4>Let’s Get In Touch!</h4>
                            <div class="separator">
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <p>It would be great to hear from you! If you got any questions</p>
                        </div>
                        <div class="contact-form">
                            <form method="POST">                                
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" name="user" placeholder="Full Name" maxlength="255"
                                                required id="id_user">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" placeholder="Email" required id="id_email">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="subject" placeholder="Subject" maxlength="255"
                                                required id="id_subject">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                        <textarea name="body" cols="40" rows="10" placeholder="Message" required id="id_body"></textarea>
                                    </div>
                                    <div
                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group text-center mar-none">
                                        <button type="submit">Send Message <i class="flat flaticon-plane"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Contact Detail End ====== -->
<!-- ====== Location Map Start ====== -->

<div id="">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8038746942943!2d36.819371273922954!3d-1.2920658986956524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1174c392ab69%3A0xaec4380fd763b66e!2sNelsonelTech%20Solutions%20%7C%20Software%20Company%20-%20Nairobi!5e0!3m2!1sen!2ske!4v1680785934633!5m2!1sen!2ske"
        width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!-- ====== Location Map End ====== -->




<!-- ====== content block ends ====== -->

{{ end }}