{{ define "home" }}

<!-- ====== Slider Start ====== -->
<div class="slider index-3 pb-4">


    <div class="owl-main owl-carousel owl-theme">

        <div class="item">
            <img class="d-block w-100" src="/static/img/slide-1.jpg" alt="First slide">

            <div class="caption d-md-block">
                <div class="display">Think Big Do Creative Grow Business </div>
                <div class="content">
                    Transform Your Business with Cutting-Edge Software Solutions from NelsonelTech - Your Partner for
                    Success!
                </div>
                <a href="about/index.html" class="view_more" title="View More">View More</a>
                <a href="contact/index.html" class="view_more contact_us" title="Contact Us">Contact Us</a>
            </div>

        </div>


        <div class="item">
            <img class="d-block w-100" src="/static/img/slide-2.jpg" alt="Second slide">
            <div class="caption d-md-block">
                <div class="display">Give Wings To Your Business </div>
                <div class="content">
                    Experience the Power of Innovation: Get Custom Software Solutions for Your Business with
                    NelsonelTech!
                </div>
                <a href="about/index.html" class="view_more" title="View More">View More</a>
                <a href="contact/index.html" class="view_more contact_us" title="Contact Us">Contact Us</a>
            </div>

        </div>


        <div class="item">
            <img class="d-block w-100" src="/static/img/slide-3.jpg" alt="Third slide">
            <div class="caption d-md-block">
                <div class="display">We Are Your Digital Partners </div>
                <div class="content">
                    Streamline Your Business Processes with Top-Notch Software Solutions from NelsonelTech!
                </div>
                <a href="about/index.html" class="view_more" title="View More">View More</a>
                <a href="contact/index.html" class="view_more contact_us" title="Contact Us">Contact Us</a>
            </div>

        </div>


        <div class="item">
            <img class="d-block w-100" src="/static/img/slide-4.jpg" alt="Fourth slide">
            <div class="caption d-md-block">
                <div class="display">NelsonelTech Solutions Software Company </div>
                <div class="content">
                    From Concept to Completion: Let NelsonelTech Help You Build the Software Your Business Needs to
                    Thrive!
                </div>
                <a href="about/index.html" class="view_more" title="View More">View More</a>
                <a href="contact/index.html" class="view_more contact_us" title="Contact Us">Contact Us</a>
            </div>
        </div>
    </div>
</div>

<!-- ====== Slider End ====== -->


<!-- ====== Qualities Start ====== -->
<section id="qualities" class="index-3">
    <div class="container">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="content">

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
                    <div class="icon"><i class="flat flaticon-reward"></i></div>
                    <div class="heading">
                        <h5>We are Professional</h5>
                    </div>
                    <div class="description">
                        <p>We are highly skilled, experienced professionals dedicated to delivering quality solutions to
                            our clients.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
                    <div class="icon"><i class="flat flaticon-certificate"></i></div>
                    <div class="heading">
                        <h5>Licensed and Certified</h5>
                    </div>
                    <div class="description">
                        <p>We have official authorization and recognized credentials to provide professional services,
                            attested by certifications.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
                    <div class="icon"><i class="flat flaticon-enterprise"></i></div>
                    <div class="heading">
                        <h5>Number 1 Company</h5>
                    </div>
                    <div class="description">
                        <p>We are the leading company in our industry, providing exceptional services and setting the
                            standard for others.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
                    <div class="icon"><i class="flat flaticon-working-team"></i></div>
                    <div class="heading">
                        <h5>Leading Provider</h5>
                    </div>
                    <div class="description">
                        <p>We are a leading provider of innovative and effective software and IT solutions in Nairobi,
                            Kenya. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ====== Qualities End ====== -->

<!-- ====== About Details Start ====== -->
<section id="about-detail" class="index-3">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mid-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="img-area">
                        <img src="/static/img/why-choose-us.jpg" alt="Why Choose Us" />
                    </div>
                    <div class="section_heading">
                        <h4>Why <span>Choose Us?</span></h4>
                        <div class="separator left-align ">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="description">
                        <p>
                            Choose NelsonelTech Solutions for our commitment to providing innovative and customized IT
                            solutions,
                            our team of skilled professionals with years of experience, our collaborative approach, and
                            our reputation
                            as a trusted partner in the industry.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="img-area">
                        <img src="/static/img/our-mission.jpg" alt="Our Mission" />
                    </div>
                    <div class="section_heading">
                        <h4>Our <span>Mission</span></h4>
                        <div class="separator left-align ">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="description">
                        <p>
                            NelsonelTech Solutions aims to offer innovative and customized IT solutions to organizations
                            in Kenya and beyond,
                            to keep them competitive in today's fast-paced digital world, leveraging the latest
                            technologies and trends.
                        </p>
                    </div>
                </div>



                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="img-area">
                        <img src="/static/img/our-vision.jpg" alt="Our Mission" />
                    </div>
                    <div class="section_heading">
                        <h4>Our <span>Vision</span></h4>
                        <div class="separator left-align ">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="description">
                        <p>
                            NelsonelTech Solutions aims to assist businesses and organizations to achieve their
                            objectives in the fast-paced
                            digital landscape by providing innovative and high-quality IT solutions. They aspire to be a
                            reliable partner in
                            the IT industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== About Details End ====== -->

<!-- ====== Services Start ====== -->
<section id="services" class="gray-bg index-3">
    <div class="container">
        <div class="section_heading">
            <h2>Services</h2>
            <div class="separator">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="heading_content">
                NelsonelTech Solutions offers software development, web design, mobile app development, IT consulting,
                data science, and among other IT solutions in Nairobi, Kenya
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
            <div class="service-slider owl-one owl-carousel owl-theme">


                <div class="item">
                    <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                    <div class="connector"> <span></span> </div>
                    <div class="service-card">
                        <div class="service_detail">
                            <h5><a href="service/support-and-maintenance/index.html" title="Web Development">Support and
                                    maintenance</a></h5>
                            <p>

                                At <b>NelsonelTech Solutions</b>, we offer comprehensive support and maintenance
                                services to ensure that your technology systems are running smoothly and efficiently.
                                Our team of experienced …

                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                    <div class="connector"> <span></span> </div>
                    <div class="service-card">
                        <div class="service_detail">
                            <h5><a href="service/web-hosting/index.html" title="Web Development">Web Hosting</a></h5>
                            <p>

                                Web hosting is a service provided by companies like <b>NelsonelTech Solutions</b> that
                                allows individuals and organizations to make their websites accessible to the public via
                                …

                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                    <div class="connector"> <span></span> </div>
                    <div class="service-card">
                        <div class="service_detail">
                            <h5><a href="service/custom-software-solutions/index.html" title="Web Development">Custom
                                    software solutions</a></h5>
                            <p>

                                At <b>NelsonelTech Solutions</b>, we offer custom software solutions as a service to
                                help businesses streamline their operations and improve productivity. Our team of
                                experienced developers …

                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                    <div class="connector"> <span></span> </div>
                    <div class="service-card">
                        <div class="service_detail">
                            <h5><a href="service/search-engine-optimization/index.html" title="Web Development">Search
                                    Engine Optimization</a></h5>
                            <p>

                                <b>NelsonelTech Solutions</b> offers SEO, or Search Engine Optimization, as a valuable
                                service to help businesses improve their online presence and visibility. Our team of
                                experienced …

                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                    <div class="connector"> <span></span> </div>
                    <div class="service-card">
                        <div class="service_detail">
                            <h5><a href="service/mobile-app-development/index.html" title="Web Development">Mobile App
                                    Development</a></h5>
                            <p>

                                <b>NelsonelTech Solutions</b> offers professional mobile app development services to
                                help businesses and organizations enhance their digital presence and reach their target
                                audience effectively. Our team …

                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                    <div class="connector"> <span></span> </div>
                    <div class="service-card">
                        <div class="service_detail">
                            <h5><a href="service/data-science-consultancy/index.html" title="Web Development">Data
                                    Science Consultancy</a></h5>
                            <p>

                                <b>NelsonelTech Solutions</b> is a leading provider of data science consultancy
                                services, helping businesses and organizations of all sizes harness the power of data to
                                drive …

                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                    <div class="connector"> <span></span> </div>
                    <div class="service-card">
                        <div class="service_detail">
                            <h5><a href="service/graphic-design/index.html" title="Web Development">Graphic Design</a>
                            </h5>
                            <p>

                                At <b>NelsonelTech Solutions</b>, we offer professional graphical design services to
                                help businesses and individuals create visually stunning and effective designs. Our team
                                of experienced and …

                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                    <div class="connector"> <span></span> </div>
                    <div class="service-card">
                        <div class="service_detail">
                            <h5><a href="service/website-development/index.html" title="Web Development">Website
                                    Development</a></h5>
                            <p>

                                <b>NelsonelTech Solutions</b> offers professional website design and development
                                services for businesses and organizations looking to establish a strong online presence.
                                Our team of expert designers …

                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                    <div class="connector"> <span></span> </div>
                    <div class="service-card">
                        <div class="service_detail">
                            <h5><a href="service/system-upgradeupdate/index.html" title="Web Development">System
                                    Upgrade/Update</a></h5>
                            <p>

                                NelsonelTech Solution is a professional software company that specializes in providing
                                reliable and efficient system update and upgrade services. Our team of highly skilled
                                and …

                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="h-border"><span></span></div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- ====== Services End ====== -->

<!-- ====== Team Start ====== -->
<!-- <section id="our_team" class="index-3">
    <div class="container">
        <div class="section_heading">
            <h2>Our <span>Team</span></h2>
            <div class="separator">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="heading_content"> Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
            <div class="row">
                <div class="item col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="client_dp"> <img src="//static/img/team-member-pic.jpg" alt="Team" /> </div>
                    <div class="team-card">
                        <div class="name_designation">
                            <h5><a href="team-member-detail-2.html">Alec Thompson</a></h5>
                            <span>Developer</span>
                        </div>
                        <div class="description">
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="social_links">
                            <ul>
                                <li><a href="javascript:void(0)" title="Facebook"><i
                                            class="flat flaticon-facebook-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Twitter"><i
                                            class="flat flaticon-twitter"></i></a></li>
                                <li><a href="javascript:void(0)" title="Google"><i
                                            class="flat flaticon-google-plus-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Linkedin"><i
                                            class="flat flaticon-linkedin-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Instagram"><i
                                            class="flat flaticon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="client_dp"> <img src="//static/img/team-member-pic3.jpg" alt="Team" /> </div>
                    <div class="team-card">
                        <div class="name_designation">
                            <h5><a href="team-member-detail-2.html">Tania Andrew</a></h5>
                            <span>Designer</span>
                        </div>
                        <div class="description">
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="social_links">
                            <ul>
                                <li><a href="javascript:void(0)" title="Facebook"><i
                                            class="flat flaticon-facebook-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Twitter"><i
                                            class="flat flaticon-twitter"></i></a></li>
                                <li><a href="javascript:void(0)" title="Google"><i
                                            class="flat flaticon-google-plus-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Linkedin"><i
                                            class="flat flaticon-linkedin-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Instagram"><i
                                            class="flat flaticon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="client_dp"> <img src="//static/img/team-member-pic4.jpg" alt="Team" /> </div>
                    <div class="team-card">
                        <div class="name_designation">
                            <h5><a href="team-member-detail-2.html">Christian Mike</a></h5>
                            <span>Developer</span>
                        </div>
                        <div class="description">
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="social_links">
                            <ul>
                                <li><a href="javascript:void(0)" title="Facebook"><i
                                            class="flat flaticon-facebook-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Twitter"><i
                                            class="flat flaticon-twitter"></i></a></li>
                                <li><a href="javascript:void(0)" title="Google"><i
                                            class="flat flaticon-google-plus-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Linkedin"><i
                                            class="flat flaticon-linkedin-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Instagram"><i
                                            class="flat flaticon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="client_dp"> <img src="//static/img/team-member-pic2.jpg" alt="Team" /> </div>
                    <div class="team-card">
                        <div class="name_designation">
                            <h5><a href="team-member-detail-2.html">Rebecca Stormville</a></h5>
                            <span>Designer</span>
                        </div>
                        <div class="description">
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="social_links">
                            <ul>
                                <li><a href="javascript:void(0)" title="Facebook"><i
                                            class="flat flaticon-facebook-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Twitter"><i
                                            class="flat flaticon-twitter"></i></a></li>
                                <li><a href="javascript:void(0)" title="Google"><i
                                            class="flat flaticon-google-plus-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Linkedin"><i
                                            class="flat flaticon-linkedin-logo"></i></a></li>
                                <li><a href="javascript:void(0)" title="Instagram"><i
                                            class="flat flaticon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12  text-center"><a class="view_more" href="team-3.html">View
                        More</a></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section> -->
<!-- ====== Team End ====== -->

<!-- ====== Portfolio Start ====== -->
<section id="portfolio" class="index-3">
    <div class="container">
        <div class="section_heading">
            <h2>Portfolio</h2>
            <div class="separator">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 content_sec ">

            <div class="row portfolio-gallary">


                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img"
                            src="/static/media/static/portfolio/Screenshot_from_2023-09-21_11-44-23.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">DreamCom Technologies</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a
                                href="/static/media/static/portfolio/Screenshot_from_2023-09-21_11-44-23.png"
                                class="popup-box" data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/sdakarura.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Karura Adventist Church</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/sdakarura.png" class="popup-box"
                                data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/NewsBites.PNG" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">News Bite</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/NewsBites.PNG" class="popup-box"
                                data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/smarthub.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">SmartHub</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/smarthub.png" class="popup-box"
                                data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/bigfive.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Big Five</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/bigfive.png" class="popup-box"
                                data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/techtonic.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Techtonic Solutions</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/techtonic.png" class="popup-box"
                                data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/debienta.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Bebienta Solutions</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/debienta.png" class="popup-box"
                                data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/nelsoneltech.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">NelsonelTech Solutions Limited.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/nelsoneltech.png" class="popup-box"
                                data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/timeplus_JA0SaOE.png"
                            alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">TimePlus Cleaning Services.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/timeplus_JA0SaOE.png"
                                class="popup-box" data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/schwabs_Zy8aycK.png"
                            alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Schwabs Biomedix LTD.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/schwabs_Zy8aycK.png"
                                class="popup-box" data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/plentyandpicky_ASOxWqU.png"
                            alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Plenty And Picky Suppliers.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/plentyandpicky_ASOxWqU.png"
                                class="popup-box" data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/grohney_1resvqb.png"
                            alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Grohney and Co. Associates -
                                    CPAK.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/grohney_1resvqb.png"
                                class="popup-box" data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/crystal_dRNLcql.png"
                            alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Crystal Interior Decors And Cleaning
                                    Services.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/crystal_dRNLcql.png"
                                class="popup-box" data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/rozzep_wp9GF8T.png"
                            alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Rozzep Company Limited.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/rozzep_wp9GF8T.png" class="popup-box"
                                data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/betechapotfolio_Wx9iAYG.png"
                            alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Betecha Tours.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/betechapotfolio_Wx9iAYG.png"
                                class="popup-box" data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/kcausda_3Mq3phN.png"
                            alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">KCA University SDA Church</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom"> <a href="/static/media/static/portfolio/kcausda_3Mq3phN.png"
                                class="popup-box" data-lightbox="image" data-title="Project"> <i
                                    class="flat flaticon-magnifying-glass"></i> </a> </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
    <div class="overlay"></div>
</section>

<!-- ====== Portfolio End ====== -->

<!-- ====== Counter Start ====== -->
<section id="counter" class="index-3 gray_bg">
    <div class="container">
        <div class="col-lg-12">
            <div class="row row-safari">
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-happiness"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">200</span>+</h2>
                        <div class="title">Happy Client</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-coffee-cup"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">750</span>+</h2>
                        <div class="title">Cups of Coffee</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-like"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">1800</span>+</h2>
                        <div class="title">Projects Done</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-building"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">15</span></h2>
                        <div class="title">Office Locations</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Counter End ====== -->

<!-- ====== Blog Start ====== -->

<section id="blog_post" class="index-3">
    <div class="container">
        <div class="section_heading">
            <h2>Blog <span>Posts</span></h2>
            <div class="separator">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
            <div class="blog-slider owl-five owl-carousel owl-theme">


                <div class="item blog_card">
                    <div class="post-img"> <img src="/static/media/static/blog/blog-post-2_kHtrd1P.jpg" alt="Post" />
                        <div class="posted_on"> <span class="date">7</span>
                            <span class="month">Apr</span>
                        </div>
                    </div>
                    <div class="post-detail">
                        <h5><a href="blog-detail/custom-software-development/index.html">Custom software development</a>
                        </h5>
                        <div class="post-status">
                            <ul>
                                <li><i class="flat flaticon-folder"></i> <span><a href="javascript:void(0)">
                                            nelsonel</a></span></li>
                                <li><i class="flat flaticon-chat"></i> <span>20</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>



            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<!-- ====== Blog End ====== -->

<!-- ====== Clients Start ====== -->
<section id="client" class="index-2">
    <div class="container">
        <div class="section_heading">
            <h2>Our Clients</h2>
            <div class="separator">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="team-slider owl-six owl-carousel owl-theme">
                <div class="item"> <img src="/static/img/client-1.jpg" alt="Client" /> </div>
                <div class="item"> <img src="/static/img/client-1.jpg" alt="Client" /> </div>
                <div class="item"> <img src="/static/img/client-2.jpg" alt="Client" /> </div>
                <div class="item"> <img src="/static/img/client-3.jpg" alt="Client" /> </div>
                <div class="item"> <img src="/static/img/client-4.jpg" alt="Client" /> </div>
                <div class="item"> <img src="/static/img/client-5.jpg" alt="Client" /> </div>
                <div class="item"> <img src="/static/img/client-6.jpg" alt="Client" /> </div>
            </div>
            <div class="left-tri"></div>
            <div class="right-tri"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="overlay"></div>
</section>

<!-- ====== Clients End ====== -->

<!-- ====== Testimonials Start ====== -->

<section id="testimonials" class="gray-bg index-3">
    <div class="container">
        <div class="row row-reverse">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section_heading">
                    <h2>What <span>People Say</span></h2>
                    <div class="separator">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="overlay"></div>
</section>
<!-- ====== Testimonials End ====== -->
<!-- ====== Quick Connect Start ====== -->
<section id="quick-connect" class="index-3">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="newsletter">
                        <div class="section_heading">
                            <h4>Subscribe Our Newsletter</h4>
                            <div class="separator">
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="heading_content"> Provide your email address and stay informed with our
                                latest resources </div>
                        </div>
                        <form>
                            <input type="text" placeholder="Enter your Email Id">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="quick-info">
                        <div class="section_heading">
                            <h4>For Quick Info</h4>
                            <div class="separator">
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="sub-heading">Call Us On</div>
                            <div class="contact-no">
                                <a href="tel:+254720841555">+254720841555</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Quick Connect End ====== -->

{{ end }}