{{ define "projects" }}

<!-- ====== content clock start ====== -->




<style>
    .portfolio-img {
        height: 200px !important;
        width: 100% !important;
    }
</style>

<!-- ====== Banner Start ====== -->
<section id="inner-banner">
    <div class="container">
        <div class="row">
            <div class="inner-heading">
                <h2>Portfolios</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ====== Banner End ====== -->

<!-- ====== Portfolio Start ====== -->
<section id="portfolio">
    <div class="container">
        <h3 class="d-none">heading</h3>

        <div class="col-lg-12 col-md-12 col-xs-12">

            <div class="row portfolio-gallary">


                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img"
                            src="/static/media/static/portfolio/Screenshot_from_2023-09-21_11-44-23.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">DreamCom Technologies</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/Screenshot_from_2023-09-21_11-44-23.png"
                                class="popup-box" data-lightbox="image" data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/sdakarura.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Karura Adventist Church</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/sdakarura.png" class="popup-box" data-lightbox="image"
                                data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/NewsBites.PNG" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">News Bite</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/NewsBites.PNG" class="popup-box" data-lightbox="image"
                                data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/smarthub.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">SmartHub</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/smarthub.png" class="popup-box" data-lightbox="image"
                                data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/bigfive.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Big Five</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/bigfive.png" class="popup-box" data-lightbox="image"
                                data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/techtonic.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Techtonic Solutions</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/techtonic.png" class="popup-box" data-lightbox="image"
                                data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/debienta.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Bebienta Solutions</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/debienta.png" class="popup-box" data-lightbox="image"
                                data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/nelsoneltech.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">NelsonelTech Solutions Limited.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/nelsoneltech.png" class="popup-box" data-lightbox="image"
                                data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/timeplus_JA0SaOE.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">TimePlus Cleaning Services.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/timeplus_JA0SaOE.png" class="popup-box"
                                data-lightbox="image" data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/schwabs_Zy8aycK.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Schwabs Biomedix LTD.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/schwabs_Zy8aycK.png" class="popup-box"
                                data-lightbox="image" data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/plentyandpicky_ASOxWqU.png"
                            alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Plenty And Picky Suppliers.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/plentyandpicky_ASOxWqU.png" class="popup-box"
                                data-lightbox="image" data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/grohney_1resvqb.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Grohney and Co. Associates -
                                    CPAK.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/grohney_1resvqb.png" class="popup-box"
                                data-lightbox="image" data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/crystal_dRNLcql.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Crystal Interior Decors And Cleaning
                                    Services.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/crystal_dRNLcql.png" class="popup-box"
                                data-lightbox="image" data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/rozzep_wp9GF8T.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Rozzep Company Limited.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/rozzep_wp9GF8T.png" class="popup-box"
                                data-lightbox="image" data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/betechapotfolio_Wx9iAYG.png"
                            alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">Betecha Tours.</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/betechapotfolio_Wx9iAYG.png" class="popup-box"
                                data-lightbox="image" data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
                    <div class="project portfolio-inner">
                        <img class="portfolio-img" src="/static/media/static/portfolio/kcausda_3Mq3phN.png" alt="project">
                        <div class="label">
                            <div class="label-text"> <a href="#" class="text-title">KCA University SDA Church</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                        <div class="zoom">
                            <a href="/static/media/static/portfolio/kcausda_3Mq3phN.png" class="popup-box"
                                data-lightbox="image" data-title="Project">
                                <i class="flat flaticon-magnifying-glass"></i>
                            </a>
                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>
</section>
<!-- ====== Portfolio End ====== -->

<!-- ====== Counter Start ====== -->
<section id="counter">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-happiness"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">200</span>+</h2>
                        <div class="title">Happy Client</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-coffee-cup"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">750</span>+</h2>
                        <div class="title">Cups of Coffee</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-like"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">1800</span>+</h2>
                        <div class="title">Projects Done</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="count_icon"> <i class="flat flaticon-building"></i> </div>
                    <div class="counter_content">
                        <h2><span class="counter">15</span></h2>
                        <div class="title">Office Locations</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- ====== Counter End ====== -->
<section class="mt-2">
    <div class="container">

    </div>
</section>



<!-- ====== content block ends ====== -->

{{ end }}