{{ define "services" }}

<!-- ====== content clock start ====== -->




<style>
    .service-img {
        width: 100% !important;
        height: 200px !important;
    }
</style>


<!-- ====== Banner Start ====== -->
<section id="inner-banner" class="index-3">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="inner-heading">
                <h2>Services</h2>
                <div class="separator left-align">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Services</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ====== Banner End ====== -->

<!-- ====== Services Start ====== -->
<section id="blog_post" class="index-3">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row">


                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="item blog_card">
                        <div class="post-img">
                            <img class="service-img"
                                src="/static/media/static/services/IT-Support-and-Maintenance-IT-Help-Desk-Next-Horizon-rIEMGtUzIJhUMM.jpg"
                                alt="NelsonelTech Service" width="100%" height="100px" />
                        </div>
                        <div class="post-detail">
                            <h5><a href="/static/service/support-and-maintenance/index.html">Support and maintenance</a></h5>
                            <div class="post-status">
                                <p>

                                    At <b>NelsonelTech Solutions</b>, we offer comprehensive support and maintenance
                                    services to ensure that your technology systems are running smoothly and
                                    efficiently. Our team of experienced …

                                </p>
                                <a class="btn footer-bg text-light"
                                    href="/static/service/support-and-maintenance/index.html">Read more</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="item blog_card">
                        <div class="post-img">
                            <img class="service-img"
                                src="/static/media/static/services/What-is-web-hosting_-vyGMIqWldPjjXM.jpg"
                                alt="NelsonelTech Service" width="100%" height="100px" />
                        </div>
                        <div class="post-detail">
                            <h5><a href="/static/service/web-hosting/index.html">Web Hosting</a></h5>
                            <div class="post-status">
                                <p>

                                    Web hosting is a service provided by companies like <b>NelsonelTech Solutions</b>
                                    that allows individuals and organizations to make their websites accessible to the
                                    public via …

                                </p>
                                <a class="btn footer-bg text-light" href="/static/service/web-hosting/index.html">Read
                                    more</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="item blog_card">
                        <div class="post-img">
                            <img class="service-img"
                                src="/static/media/static/services/Screenshot_2023-04-10-15-45-02-605_com.android.chrome-edit.jpg"
                                alt="NelsonelTech Service" width="100%" height="100px" />
                        </div>
                        <div class="post-detail">
                            <h5><a href="/static/service/custom-software-solutions/index.html">Custom software solutions</a>
                            </h5>
                            <div class="post-status">
                                <p>

                                    At <b>NelsonelTech Solutions</b>, we offer custom software solutions as a service to
                                    help businesses streamline their operations and improve productivity. Our team of
                                    experienced developers …

                                </p>
                                <a class="btn footer-bg text-light"
                                    href="/static/service/custom-software-solutions/index.html">Read more</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="item blog_card">
                        <div class="post-img">
                            <img class="service-img"
                                src="/static/media/static/services/Screenshot_2023-04-10-15-42-55-404_com.android.chrome-edit.jpg"
                                alt="NelsonelTech Service" width="100%" height="100px" />
                        </div>
                        <div class="post-detail">
                            <h5><a href="/static/service/search-engine-optimization/index.html">Search Engine
                                    Optimization</a></h5>
                            <div class="post-status">
                                <p>

                                    <b>NelsonelTech Solutions</b> offers SEO, or Search Engine Optimization, as a
                                    valuable service to help businesses improve their online presence and visibility.
                                    Our team of experienced …

                                </p>
                                <a class="btn footer-bg text-light"
                                    href="/static/service/search-engine-optimization/index.html">Read more</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="item blog_card">
                        <div class="post-img">
                            <img class="service-img"
                                src="/static/media/static/services/Screenshot_2023-04-10-15-38-04-619_com.android.chrome-edit.jpg"
                                alt="NelsonelTech Service" width="100%" height="100px" />
                        </div>
                        <div class="post-detail">
                            <h5><a href="/static/service/mobile-app-development/index.html">Mobile App Development</a></h5>
                            <div class="post-status">
                                <p>

                                    <b>NelsonelTech Solutions</b> offers professional mobile app development services to
                                    help businesses and organizations enhance their digital presence and reach their
                                    target audience effectively. Our team …

                                </p>
                                <a class="btn footer-bg text-light"
                                    href="/static/service/mobile-app-development/index.html">Read more</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="item blog_card">
                        <div class="post-img">
                            <img class="service-img" src="/static/media/static/services/ds_2iaSah9.png"
                                alt="NelsonelTech Service" width="100%" height="100px" />
                        </div>
                        <div class="post-detail">
                            <h5><a href="/static/service/data-science-consultancy/index.html">Data Science Consultancy</a>
                            </h5>
                            <div class="post-status">
                                <p>

                                    <b>NelsonelTech Solutions</b> is a leading provider of data science consultancy
                                    services, helping businesses and organizations of all sizes harness the power of
                                    data to drive …

                                </p>
                                <a class="btn footer-bg text-light"
                                    href="/static/service/data-science-consultancy/index.html">Read more</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="item blog_card">
                        <div class="post-img">
                            <img class="service-img" src="/static/media/static/services/graphic.png"
                                alt="NelsonelTech Service" width="100%" height="100px" />
                        </div>
                        <div class="post-detail">
                            <h5><a href="/static/service/graphic-design/index.html">Graphic Design</a></h5>
                            <div class="post-status">
                                <p>

                                    At <b>NelsonelTech Solutions</b>, we offer professional graphical design services to
                                    help businesses and individuals create visually stunning and effective designs. Our
                                    team of experienced and …

                                </p>
                                <a class="btn footer-bg text-light" href="/static/service/graphic-design/index.html">Read
                                    more</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="item blog_card">
                        <div class="post-img">
                            <img class="service-img" src="/static/media/static/services/web_dev.png"
                                alt="NelsonelTech Service" width="100%" height="100px" />
                        </div>
                        <div class="post-detail">
                            <h5><a href="/static/service/website-development/index.html">Website Development</a></h5>
                            <div class="post-status">
                                <p>

                                    <b>NelsonelTech Solutions</b> offers professional website design and development
                                    services for businesses and organizations looking to establish a strong online
                                    presence. Our team of expert designers …

                                </p>
                                <a class="btn footer-bg text-light"
                                    href="/static/service/website-development/index.html">Read more</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="item blog_card">
                        <div class="post-img">
                            <img class="service-img" src="/static/media/static/services/update.png"
                                alt="NelsonelTech Service" width="100%" height="100px" />
                        </div>
                        <div class="post-detail">
                            <h5><a href="/static/service/system-upgradeupdate/index.html">System Upgrade/Update</a></h5>
                            <div class="post-status">
                                <p>

                                    NelsonelTech Solution is a professional software company that specializes in
                                    providing reliable and efficient system update and upgrade services. Our team of
                                    highly skilled and …

                                </p>
                                <a class="btn footer-bg text-light"
                                    href="/static/service/system-upgradeupdate/index.html">Read more</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>



            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1"><i
                            class="flat flaticon-back"></i></a> </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"> <a class="page-link" href="#"><i class="flat flaticon-arrow"></i></a> </li>
            </ul>
        </nav>
    </div>
</section>
<!-- ====== Services End ====== -->

<!-- ====== Work Status Start ====== -->
<section id="work-status" class="index-3">
    <h3 class="d-none">heading</h3>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="counter-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="counter_content">
                        <div class="display"><span class="counter">95</span>%</div>
                        <div class="title">Web Design</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="counter_content">
                        <div class="display"><span class="counter">80</span>%</div>
                        <div class="title">Web Development</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="counter_content">
                        <div class="display"><span class="counter">70</span>%</div>
                        <div class="title">Web Hosting</div>
                    </div>
                </div>
                <div class="counter-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="counter_content">
                        <div class="display"><span class="counter">75</span>%</div>
                        <div class="title">Software Development</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- ====== Work Status End ====== -->

<!-- ====== Pricing Start ====== -->

<section id="pricing" class="index-3">
    <div class="container">
        <div class="section_heading">
            <h2>Our <span>Pricing</span></h2>
            <div class="separator">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="heading_content">

            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 content_sec">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 price_card">
                    <div class="plan-title">
                        <h4>Personal</h4>
                        <div class="separator">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="price_amount"> From<strong>$9</strong>/mo </div>-->
                    <div class="features">
                        <ul>
                            <li>One Feature</li>
                            <li class="deactive">Another Feature</li>
                            <li class="deactive">More Feature</li>
                            <li class="deactive">Extra Feature</li>
                        </ul>
                    </div>
                    <div class="purchase"> <a class="purchase_now" href="javascript:void(0)"
                            title="Purchase Now">Purchase Now</a> </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 price_card ultimate">
                    <div class="plan-title">
                        <h4>Ultimate</h4>
                        <div class="separator">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="price_amount"> From<strong>$199</strong>/mo </div>-->
                    <div class="features">
                        <ul>
                            <li>One Feature</li>
                            <li>Another Feature</li>
                            <li>More Feature</li>
                            <li>Extra Feature</li>
                        </ul>
                    </div>
                    <div class="purchase"> <a class="purchase_now" href="javascript:void(0)"
                            title="Purchase Now">Purchase Now</a> </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 price_card">
                    <div class="plan-title">
                        <h4>Business</h4>
                        <div class="separator">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="price_amount"> From<strong>$99</strong>/mo </div>-->
                    <div class="features">
                        <ul>
                            <li>One Feature</li>
                            <li>Another Feature</li>
                            <li>More Feature</li>
                            <li class="deactive">Extra Feature</li>
                        </ul>
                    </div>
                    <div class="purchase"> <a class="purchase_now" href="javascript:void(0)"
                            title="Purchase Now">Purchase Now</a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<!-- ====== Pricing End ====== -->


<!-- ====== content block ends ====== -->

{{ end }}